.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--lightGrey);
    color: var(--black);
    padding: 16px 0;
  }
  
  .container span:nth-child(1) {
    width: 15%;
    text-align: center;
  }
  
  .container span:nth-child(2) {
    width: 70%;
    font-weight: 600;
  }
  
  .container :nth-child(3) {
    width: 15%;
    text-align: center;
  }
  
  .container i {
    cursor: pointer;
    color: var(--color-secondary);
    padding-left: 10px;
    font-size: 20px;
  }
  
  .container i:hover {
    opacity: 0.5;
  }
  
  .fa-plus-square-o{
    color: var(--secondary);
  }
  
  .toggleUser {
    width: 105px;
    margin-left: 60px;
  }
  