.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--dark);
  padding: 32px 0px;
  font: inherit;
  margin: 0;
  background-color: transparent;
}

.dropdownContent {
  padding-top: 24px;
}

.dropdownContent nav {
  gap: 32px;
}

.dropdownContent,
.subDropdownContent {
  display: none;
  position: absolute;
  background-color: var(--color-primary);
  width: 100%;
  left: 0;
  box-shadow: 0px 14px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-bottom: 24px;
}

.dropdownContent .header {
  background: var(--white);
  color: var(--dark);
}

.dropdownContent .header h2 {
  font-weight: 500;
  margin-left: 0px;
}

.subDropdownContent {
  margin-top: 20px;
}

.dropbtn i {
  padding-left: 8px;
}

.subDropdown .dropbtn {
  background-color: transparent;
}

.boxButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.show {
  display: flex;
  flex-direction: column;
}
