.form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form h4{
    align-self: flex-start;
    margin-bottom: 0px;
}

.form .boxInputCheck {
    width: 100%;
    display: flex;
    align-items: center;
}

.form .boxInputCheck input {
   height: 16px;
   width: 16px;
   margin-right: 8px;
}

.form button{
    width: 100%;
    font-size: 13px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
}

.btnFilter{
    background-color: var(--dark);
    color: var(--white);
}

.btnClear{
    background-color: transparent;
    color: var(--dark);
    border: 1px solid var(--dark);
}